@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.body {
    background: rgba(36, 59, 35, 1);
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Marcellus', serif;
}

.log {
    position: relative;
    left: 25%;
    top: 300px;

    display: flex;
    flex-direction: column;
}



.navs {
    position: relative;
    top: 340px;
    left: 22%;
    display: flex;
    flex-direction: row;

}

.h2 {
    position: relative;
    top: 470px;
    left: 220px;
    display: flex;
    flex-direction: column;

    color: white;


    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 10px;
}

.img2 {
    position: relative;
    left: 55%;
    top: -140px;
    height: 700px;
    width: 800px;



    display: flex;
    flex-direction: row;

}